@model IEnumerable<Twitter.Web.Models.ViewModels.UserTweetViewModel>

<div id="profile-followers">
    @{
        if (Model.Count() != 0)
        {
            foreach (var item in Model)
            {
                <div class="col-xs-6">
                    <header class="row">
                        <div class="col-md-1">
                            <img class="user-avatar" src="@Url.Content(item.PictureUrl)" alt="Avatar" />
                        </div>
                        <h3 class="col-md-1">
                            @{
                                var username = item.UserName;
                            }

                            @Html.ActionLink(
                        linkText: username,
                        actionName: "Profile",
                        controllerName: "Users",
                        routeValues: new { username = username },
                        htmlAttributes: null
                   )
                        </h3>
                    </header>
                </div>
            }
        }
        else
        {
            <h2>This user has no followers at the moment.</h2>
        }
    }
</div>
