body {    

    #wrapper {
        position: relative;
        width: 350px;
        height: 625px;
        background-color: #fff0f0;

        header {
            font-size: 10px;
            text-align: center;
        }

        main {
            display: flex;
            justify-content: center;
            height: 500px;

            form {                
                width: 200px;

                input {
                    display: block;
                    width: 200px;
                }

                #checkbox {
                    float: left;
                    width: 10px;
                    height: 10px;
                }

                #visible-on-click {
                    display: none;
                }

                #company {
                    margin-top: 10px;
                }

                footer {
                    position: absolute;
                    bottom: 5px;
                    width: 200px;
                }

                input[type=submit] {
                    width: 110px;
                    float: left;
                    margin-right: 5px;
                    border-radius: 3px;
                }

                input[type=reset] {
                    width: 70px;
                    float: left;
                    border-radius: 3px;
                }
            }
        }
    }
}
