#anonymous-landing-page {
    background-image: url('Images/Anon_Index.JPG');

    .anon-controls-box {
        width: 90%;
        margin: 0 auto;
        color: black;

        .anon-box {
            float: left;

            .anon-box-title {
                width: 675px;
            }

            a {
                color: blue;
            }
        }
    }
}

#bootstrap-overrides {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #F5F8FA;

    textarea {
        resize: none;
    }

    .container body-content {
        width: 900px;
    }

    .user-avatar {
        max-width: 100%;

        img {
            width: 100px;
        }
    }

    .tweet-tooltip-avatar {

        img {
            height: 80px;
        }
    }

    .create-tweet-box {
        margin-bottom: 15px;
    }

    .redirect-message-box {
        width: 50%;
        margin: 0 auto;
    }

    #main-sidebar {
        background-color: white;
        margin-top: 20px;
        margin-right: 10px;
        float: left;
        width: 23%;
        border: 1px solid #E1E8ED;
        border-radius: 5px;


        .sidebar-profile {

            .sidebar-profile-header {
                margin: 5px;

                .sidebar-profile-header-username {
                    display: block;
                    font-weight: bold;
                    font-size: 1.5em;
                    margin-bottom: 10px;

                    a {
                        color: #413c3c;
                    }
                }

                .sidebar-stat-title {
                    display: inline-block;
                    margin-right: 23px;
                }
            }
        }
    }

    .tweets-container {
        margin-top: 10px;
        display: inline-block;
        width: 600px;

        .tweet {
            @media only screen and (max-width: 768px) {
                width: 60%;
                height: 300px;
            }

            @media only screen and (max-width: 480px) {
                width: 40%;
                height: 350px;
            }

            @media only screen and (max-width: 360px) {
                width: 30%;
                height: 370px;
            }

            @media only screen and (max-width: 240px) {
                width: 20%;
                height: 400px;
            }

            border: 1px solid #E1E8ED;
            height: 180px;
            background-color: white;

            :hover {
                background-color: #F5F8FA;
            }

            .tweet-wrapper {
                height: 100%;

                .tweet-avatar {
                    float: left;
                    display: inline-block;
                    width: 20%;
                    margin-top: 5px;
                    margin-left: 5px;

                    img {
                        border-radius: 5px;
                        width: 80%;
                        height: 80%;
                    }
                }

                .tweet-body-wrapper {
                    display: inline-block;
                    height: 100%;
                    width: 70%;

                    .tweet-header {
                        display: inline-block;
                        vertical-align: top;

                        .tweet-username {
                            position: relative;
                            top: 5px;
                            font-size: 110%;

                            a {
                                color: #413c3c;
                                font-weight: bold;
                            }
                        }

                        .tweet-time-ago {
                            position: relative;
                            top: 5px;
                            left: 5px;
                            font-size: 110%;
                            color: #c1bdbd;
                        }
                    }

                    .tweet-body {
                        margin-top: 15px;
                        display: inline-block;
                        width: 100%;
                        height: 50%;

                        .tweet-body-text {
                            @media only screen and (max-width: 480px) {
                                font-size: 100%;
                            }

                            @media only screen and (max-width: 360px) {
                                font-size: 90%;
                            }

                            @media only screen and (max-width: 240px) {
                                font-size: 80%;
                            }

                            width: 100%;
                            height: 100%;
                            display: inline-block;
                            font-size: 130%;

                            a {
                                max-width: 100%;
                                height: 100%;
                                word-wrap: break-word;
                                word-break: break-all;
                                white-space: pre-wrap;
                                white-space: -moz-pre-wrap;
                                white-space: -pre-wrap;
                                white-space: -o-pre-wrap;
                            }
                        }
                    }

                    .tweet-footer {

                        a {
                            margin-top: 5px;
                            margin-right: 40px;
                            color: #868585;
                            font-size: 150%;
                            text-decoration: none;
                        }

                        .tweet-reply-icon {

                            :hover {
                                color: #3985ce;
                            }
                        }

                        .tweet-favorite-icon {

                            :hover {
                                color: #f33d3d;
                            }
                        }

                        .tweet-unfavorite-icon {

                            :hover {
                                color: black;
                            }
                        }

                        .tweet-retweet-icon {

                            :hover {
                                color: #7fe456;
                            }
                        }
                    }
                }
            }
        }

        .tweet-replies-controls {

            .tweet-replies-tree {
                margin-left: 35px;
                margin-bottom: 15px;
            }
        }

        .tweet-reply-box-only {
            margin-bottom: 15px;
        }
    }
}
