#anonymous-landing-page {
  background-image: url("Images/Anon_Index.JPG"); }
  #anonymous-landing-page .anon-controls-box {
    width: 90%;
    margin: 0 auto;
    color: black; }
    #anonymous-landing-page .anon-controls-box .anon-box {
      float: left; }
      #anonymous-landing-page .anon-controls-box .anon-box .anon-box-title {
        width: 675px; }
      #anonymous-landing-page .anon-controls-box .anon-box a {
        color: blue; }

#bootstrap-overrides {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #F5F8FA; }
  #bootstrap-overrides textarea {
    resize: none; }
  #bootstrap-overrides .container body-content {
    width: 900px; }
  #bootstrap-overrides .user-avatar {
    max-width: 100%; }
    #bootstrap-overrides .user-avatar img {
      width: 100px; }
  #bootstrap-overrides .tweet-tooltip-avatar img {
    height: 80px; }
  #bootstrap-overrides .create-tweet-box {
    margin-bottom: 15px; }
  #bootstrap-overrides .redirect-message-box {
    width: 50%;
    margin: 0 auto; }
  #bootstrap-overrides #main-sidebar {
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    float: left;
    width: 23%;
    border: 1px solid #E1E8ED;
    border-radius: 5px; }
    #bootstrap-overrides #main-sidebar .sidebar-profile .sidebar-profile-header {
      margin: 5px; }
      #bootstrap-overrides #main-sidebar .sidebar-profile .sidebar-profile-header .sidebar-profile-header-username {
        display: block;
        font-weight: bold;
        font-size: 1.5em;
        margin-bottom: 10px; }
        #bootstrap-overrides #main-sidebar .sidebar-profile .sidebar-profile-header .sidebar-profile-header-username a {
          color: #413c3c; }
      #bootstrap-overrides #main-sidebar .sidebar-profile .sidebar-profile-header .sidebar-stat-title {
        display: inline-block;
        margin-right: 23px; }
  #bootstrap-overrides .tweets-container {
    margin-top: 10px;
    display: inline-block;
    width: 600px; }
    #bootstrap-overrides .tweets-container .tweet {
      border: 1px solid #E1E8ED;
      height: 180px;
      background-color: white; }
      @media only screen and (max-width: 768px) {
        #bootstrap-overrides .tweets-container .tweet {
          width: 60%;
          height: 300px; } }
      @media only screen and (max-width: 480px) {
        #bootstrap-overrides .tweets-container .tweet {
          width: 40%;
          height: 350px; } }
      @media only screen and (max-width: 360px) {
        #bootstrap-overrides .tweets-container .tweet {
          width: 30%;
          height: 370px; } }
      @media only screen and (max-width: 240px) {
        #bootstrap-overrides .tweets-container .tweet {
          width: 20%;
          height: 400px; } }
      #bootstrap-overrides .tweets-container .tweet :hover {
        background-color: #F5F8FA; }
      #bootstrap-overrides .tweets-container .tweet .tweet-wrapper {
        height: 100%; }
        #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-avatar {
          float: left;
          display: inline-block;
          width: 20%;
          margin-top: 5px;
          margin-left: 5px; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-avatar img {
            border-radius: 5px;
            width: 80%;
            height: 80%; }
        #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper {
          display: inline-block;
          height: 100%;
          width: 70%; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-header {
            display: inline-block;
            vertical-align: top; }
            #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-header .tweet-username {
              position: relative;
              top: 5px;
              font-size: 110%; }
              #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-header .tweet-username a {
                color: #413c3c;
                font-weight: bold; }
            #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-header .tweet-time-ago {
              position: relative;
              top: 5px;
              left: 5px;
              font-size: 110%;
              color: #c1bdbd; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-body {
            margin-top: 15px;
            display: inline-block;
            width: 100%;
            height: 50%; }
            #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-body .tweet-body-text {
              width: 100%;
              height: 100%;
              display: inline-block;
              font-size: 130%; }
              @media only screen and (max-width: 480px) {
                #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-body .tweet-body-text {
                  font-size: 100%; } }
              @media only screen and (max-width: 360px) {
                #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-body .tweet-body-text {
                  font-size: 90%; } }
              @media only screen and (max-width: 240px) {
                #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-body .tweet-body-text {
                  font-size: 80%; } }
              #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-body .tweet-body-text a {
                max-width: 100%;
                height: 100%;
                word-wrap: break-word;
                word-break: break-all;
                white-space: pre-wrap;
                white-space: -moz-pre-wrap;
                white-space: -pre-wrap;
                white-space: -o-pre-wrap; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-footer a {
            margin-top: 5px;
            margin-right: 40px;
            color: #868585;
            font-size: 150%;
            text-decoration: none; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-footer .tweet-reply-icon :hover {
            color: #3985ce; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-footer .tweet-favorite-icon :hover {
            color: #f33d3d; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-footer .tweet-unfavorite-icon :hover {
            color: black; }
          #bootstrap-overrides .tweets-container .tweet .tweet-wrapper .tweet-body-wrapper .tweet-footer .tweet-retweet-icon :hover {
            color: #7fe456; }
    #bootstrap-overrides .tweets-container .tweet-replies-controls .tweet-replies-tree {
      margin-left: 35px;
      margin-bottom: 15px; }
    #bootstrap-overrides .tweets-container .tweet-reply-box-only {
      margin-bottom: 15px; }

