body{
	font: 13px Tahoma, Helvetica, sans-serif;
}
#wrapper{
	width: 800px;
	height: 600px;
	background-color: #ccc;
}

/* Header */

header{
	height: 210px;
}
#title{
	margin: 0px 20px;
	height: 76px;
	background-color: #ddd;
	border-bottom: 1px dashed gray;
}

#title > h1{
	margin: 0px;
	padding-top: 18px;
	padding-left: 15px;
	color: #00ace6;
	font-size: 28px;
}

#menu{	
	float: left;
	height: 130px;
	width: 550px;
	margin: 0px 20px;
	border-bottom: 1px dashed gray;
}

#menu > p{
	width: 550px;
	margin-top: 0px;
	padding-left: 15px;
}

#menu > h3{	
	width: 550px;
	margin-top: 20px;
	padding-left: 15px;
	font-size: 16px;
}

#search-bar{
	float: left;
	margin-top: 22px;
}

#search-bar > label{
	display: block;
	font-weight: bold;
}

#search-bar:after{
	clear: both;
}

/* Form */

form{
	margin: 20px 20px;
}

input{
	height: 25px;
	border-radius: 3px;
	padding-left: 5px;
}

section{
	margin-right: 20px;
}

label{
	width: 100px;
}

select{
	width: 350px;
}

form span{
	font-size: 16px;
	font-weight: bold;
}

.form-elements{
	float: left;
}

#personal-details{
	float: left;
}

#personal-details input{
	margin-top: 20px;
}

#request-reservation{
	float: left;
}

#request-reservation:after{
	clear: both;
}

#request-reservation label{
	display: block;
}

input.check{
	width: 200px;
}

.form-elements{
	margin-top: 20px;
	margin-right: 20px;
}

#form-fields{
	height: 200px;
	border-bottom: 1px dashed gray;
}

form input[type=submit]{
	margin-top: 30px;
	width: 130px;
	height: 30px;
	float: right;
	color: white;
	background-color: #33ccff;
}
	