<div id="create-tweet-box">
    @using (Html.BeginForm("Tweet", "Tweets", FormMethod.Post, new { @class = "form-horizontal" }))
    {        
        <textarea class="form-control" rows="3" name="content" placeholder="Tweet your mind"></textarea>
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-info" value="Tweet" />
    }
</div>
