<div id="create-tweet-box-@Model">
    @using (Ajax.BeginForm(actionName: "Reply", controllerName: "Tweets",
                routeValues: new { id = Model }, htmlAttributes: new { @class = "form-horizontal" },
                ajaxOptions: new AjaxOptions {
                    HttpMethod = "POST",
                    UpdateTargetId = "replies-" + Model,
                    InsertionMode = InsertionMode.Replace
                }))
    {
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <textarea class="form-control" rows="1" name="content" placeholder="Tweet your reply here"></textarea>
        @Html.AntiForgeryToken()
        <input type="submit" class="btn btn-info" value="Send Reply" />
    }    
</div>