<div class="create-tweet-box">
    @using (Ajax.BeginForm(actionName: "Tweet", controllerName: "Tweets", routeValues: null,
                ajaxOptions: new AjaxOptions
                {
                    HttpMethod = "POST",
                    OnComplete = "postTweet",
                    InsertionMode = InsertionMode.InsertBefore,
                }, htmlAttributes: new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <textarea type="text" class="form-control" name="content" placeholder="Tweet your mind"></textarea>
        <input class="btn btn-info" type="submit" value="Tweet" />
    }
</div>

