@model IEnumerable<Twitter.Web.Models.ViewModels.RepliesViewModel>

<div>
    @if (Model != null)
    {
        foreach (var reply in Model)
        {
            @Html.Partial("~/Views/Shared/DisplayTemplates/TweetViewModel.cshtml", reply);
        }
    }
</div>