@{
    if (this.Request.IsAuthenticated)
    {
        <section class="tweets-container">
        @{
            if (!this.User.Identity.IsAuthenticated)
            {
                Html.RenderPartial("_Index");
            }
            else
            {
                Html.RenderPartial("~/Views/Tweets/_PostTweet.cshtml");
                Html.RenderPartial("_Index");
            }
        }
        </section>
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutAnon.cshtml";
        Html.RenderPartial("~/Views/Account/Login.cshtml");
        Html.RenderPartial("~/Views/Account/Register.cshtml");
    }
}