<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Twitter";
}

<section id="tweets-container">
    @{
        if (!this.User.Identity.IsAuthenticated)
        {
            Html.RenderPartial("_Index");
        }
        else
        {
            Html.RenderPartial("~/Views/Tweets/_PostTweet.cshtml");
            Html.RenderPartial("_Index");
        }
    }
</section>