<div>
  <div *ngIf='!article'>
    <span>Select an article</span>
  </div>

  <div *ngIf='article'>
    <h1>{{article.title}}</h1>
    
    <button (click)='onToggleImage()'>Toggle Image</button>
    <div *ngIf='shouldShowImage'>
      <img src="{{article.image}}" />
    </div>

    <div>{{article.author}}</div>
    
    <button (click)='changeFont(true)'>Increase Font</button>
    <button (click)='changeFont(false)'>Decrease Font</button>
    <p [style.font-size]="descriptionFontSize + 'px'">{{article.description}}</p>
    <button 
      *ngIf='ShouldShowReadMoreButton' 
      (click)='limitDescription()'>
      Read more
    </button>
  </div>
</div>
